PORT=4000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/Auth

JWT_SECRET=IUB8yTYWEVVEEF17YWEVF17GRU8GRU87ty15tJ881rRGEG
JWT_EXPIRE=5d
COOKIE_EXPIRE=5

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=your@gmail.com
SMTP_PASSWORD=password
